.wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    margin-left: 40px;
    background-color: cyan;
}

.wrap > button {
    width: 120px;
    background: rebeccapurple;
    font-size: 18px;
    color: white;
}