.header {
    min-height: 70px;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.header a {
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.header a[class = 'active'] {
    text-decoration: underline;
    color: aqua;
}

.outlet {
    /*display: flex;*/
    width: 95%;
    margin: 0 auto;
    height: calc(100vh - 90px);
    overflow: hidden;
    overflow-y: auto;
}

.users {
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
}

.usersList {
    margin-right: 50px;
}

.usersList a {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.posts {
    display: grid;
    grid-template-columns: 50% 50%;
}

.postsList {
    margin-right: 50px;
}

.postsList a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}